h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Conceptos básicos', 'main.html#page/conceptos-basicos/')
                    +navTemaItem('2', 'Medidas del Cuerpo', 'main.html#page/medidas-cuerpo/')
                    +navTemaItem('3', 'Matemáticas y operaciones básicas', 'main.html#page/matematicas-basicas/')
                    +navTemaItem('4', 'Principios básicos de geometría y sistema métrico decimal ', 'main.html#page/principios-basicos/')
                    +navTemaItem('5', 'Procedimiento de patronaje', 'main.html#page/procedimiento-patronaje/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/procedimiento-patronaje/')
