.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Trazo, corte y confección de la falda clásica.
            h1.curso-titulo Aspectos básicos del patronaje de la falda clásica.

            .brand-line-primary

            p.curso-descripcion Comprender conceptos básicos sobre toma de medidas, como punto de partida en el procedimiento de patronaje, aplicado a la falda clásica femenina.

            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")