h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('2', 'Conceptos básicos', 'main.html#page/tema-1/')
                    +navTemaItem('3', 'Medidas del Cuerpo', 'main.html#page/tema-2/')
                    +navTemaItem('4', 'Matemáticas y operaciones básicas', 'main.html#page/tema-3/')
                    +navTemaItem('5', 'Principios básicos de geometría y sistema métrico decimal ', 'main.html#page/tema-4/')
