h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 290601076-01
        p.mb-0 Elaborar moldes de la falda clásica según procedimiento técnico y medidas del cliente.
