include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    <div class="header-ecored">
        <h1>Introducción</h1>
    </div>

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8eZ91B2CdqM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    section.card-border-bottom.mt-5
        .card
            .card-body

                p.card-text.my-5 En este material de formación se relacionan los conceptos básicos asociados al patronaje industrial, los cuales permitirán conocer el trazado de moldes para la falda clásica, para lo cual se requiere conocer la manera de tomar las medidas y el cuadro de tallas. Igualmente, es importante conocer el procedimiento del patronaje que el aprendiz debe seguir cada vez que traza el patrón de falda clásica. 




