include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h2#tema-22 2.3 Clasificación de las medidas

    p Las medidas se clasifican así:

    section.card-border-bottom.mt-5
        .card
            .card-body

                p.mb-4 <strong>Largos:</strong> estas medidas se toman en sentido vertical. Ejemplo: talles, los largos de prendas y las alturas. 

                p.mb-4 <strong>Anchos:</strong> estas medidas se toman en sentido horizontal de un punto a otro.  Ejemplo: ancho pecho, ancho espalda, separación de busto. Se aplican al patrón en proporción ½. 

                p <strong>Contornos:</strong> estas medidas se toman de manera circular. El punto de llegada es el mismo punto de partida. 


    p Este tipo de medidas también se denominan medidas perimetrales porque rodean totalmente el volumen del cuerpo y aquí se encuentran los contornos, como por ejemplo el contorno de cuello, contorno de pecho, contorno de busto, contorno de Submamario, contorno de cintura y contorno de cadera entre otros. Se aplican al patrón en proporción ¼.
