include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h2 5.1 Elaboración del patrón frente de la falda clásica  


    .row.my-5
        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/IPd6XzOf504', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0                    
                    | Conozca los pasos para la elaboración de este patrón que cumple la función de entallar el cuerpo por la parte frontal.