include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 
            span.number 4. 
            span Principios básicos de geometría y sistema métrico decimal    

    p La medición ha estado presente desde tiempos remotos en la vida del hombre y ha sido de gran importancia contar con sistemas para el desarrollo de todas sus actividades.  A medida que se logran avances tecnológicos, los sistemas de medición se hacen imprescindibles, ya que diariamente realizamos mediciones de todo tipo. 

    p La importancia de la geometría y del sistema métrico decimal radica en brindar una opción de medición que permita la comparación exacta de cantidades y la estandarización de dichas mediciones aplicadas a la industria de la moda. 

    .header-ecored
        h2#tema-11 4.1 Principios básicos de geometría   

    p La geometría aplicada a patronaje se basa en sistema métrico por medio del cual se toman las medidas y en figuras planas, aplicando la combinación de los sistemas Numérico y Geométrico  que estudia las formas, ángulos, puntos, planos y líneas. 


    .header-arrow.my-5
        h2.text-center.base-light-font-weight.text-light.mb-1.letter-spacing-1x A continuación, se describen las líneas y figuras geométricas básicas, las cuales se manejan y utilizan en el trazo de los patrones: 


    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-4/lineas.svg").img-fluid
                    .card__copy 
                        h3.mb-0 LÍNEAS 
                        span <strong>(Horizontal, vertical, inclinada, paralela)</strong>
                        p.mt-3 
                            |  Una línea se define como la distancia entre dos puntos y puede ser trazada hacia diferentes direcciones con escuadra o regla. 


        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-4/angulos.svg").img-fluid
                    .card__copy 
                        h3.mb-0 ÁNGULOS 
                        span <strong>(Recto, agudo, obtuso, llano)</strong>
                        p.mt-3 
                            |  Se pueden construir a partir del corte y unión de dos líneas. En la unión se denomina el vértice y las líneas son los lados del ángulo. 

            
        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-4/figuras.svg").img-fluid
                    .card__copy 
                        h3.mb-0 FIGURAS GEOMÉTRICAS 
                        span <strong>(Cuadrado, rectángulo. Triángulo y círculo)</strong>
                        p.mt-3
                            |  Generalmente son cerrados y se forman por líneas o círculos.
                        p.mt-3
                            | <strong>Cuadrado:</strong> 4 líneas rectas, con ángulos rectos. 
                        p.mt-3
                            | <strong>Rectángulo:</strong> 4 lineas rectas, dos líneas más cortas que las otras 
                        p.mt-3
                            | <strong>Triángulo:</strong> 3 líneas que se cortan
                        p.mt-3
                            | <strong>Circunferencia:</strong> Línea cerrada con todos los puntos a igual distancia de su centro


    .header-ecored
        h2#tema-11 4.2 Sistema métrico decimal 

    p El sistema métrico decimal, es un conjunto de unidades cuyos múltiplos y submúltiplos de unidad de medida son múltiplos o submúltiplos de 10 (para unidades de longitud, capacidad y masa); de 100 (para unidades de superficie) y de 1.000 (en unidades de volumen). 

    p Existen cinco clases de medidas: de longitud, de superficie, de volumen, de capacidad y de masa (peso).

    p Las medidas de longitud utilizan el metro para definir medidas y es por esta razón que se utiliza como unidad de medida en los procesos de patronaje corte y confección de las prendas de vestir.


    p.text-center.my-5.pt-5
        img(src="assets/images/pages/tema-4/metro.svg").img-fluid