include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 
            span.number 2. 
            span Medidas del cuerpo

    p La importancia de las medidas radica en lograr el diseño de prendas de vestir para los clientes indistintamente de sus dimensiones corporales. Es así, como contando con las medidas, es posible definir una talla y la posibilidad de construir la tabla de medidas.  


    .header-ecored
        h2#tema-21 2.1 Puntos de referencia corporales anatómicos 


    p Para unificar una metodología de toma de medidas, es necesario identificar los puntos anatómicos del cuerpo. 

    p Los puntos de referencia se pueden observar en las siguientes figuras, asi: 


    .subtitulo-ecored
        h2 
            span.number A 
            span Puntos de referencia frontales


    p.text-center.my-5.pt-5
        img(src="assets/images/pages/tema-2/referencias-frontales.svg").img-fluid


    .subtitulo-ecored
        h2 
            span.number B 
            span Puntos de referencia anatómicos laterales


    p.text-center.my-5.pt-5
        img(src="assets/images/pages/tema-2/referencias-laterales.svg").img-fluid        


    .subtitulo-ecored
        h2 
            span.number C
            span Puntos de referencia anatómicos posterior:


    p.text-center.my-5.pt-5
        img(src="assets/images/pages/tema-2/referencia-posterior.svg").img-fluid         