include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h2#tema-22 2.2 Toma de medidas

    p La actividad de toma de medidas es un paso muy importante para realizar un buen trazado de patrones y debe realizarse de manera cuidadosa y precisa.

    .row.my-5
        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/vFERGlTF6C8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    strong Introducción a la toma de medidas | 
                    | Consulte el siguiente video para reforzar estos conocimientos.


    .header-arrow.my-5
        h2.text-center.base-light-font-weight.text-light.mb-1.letter-spacing-1x A continuación se relacionan
        h2.text-center.base-light-font-weight.letter-spacing-1x los principales tipos de medidas:



    .subtitulo-ecored
        h2 
            span.number A
            span Medidas verticales

    p Son las medidas asociadas a los largos necesarios para cada persona. Se toman de arriba hacia abajo.  Algunas de estas medidas se pueden observar en la figura, así: 

    p.text-center.my-5.pt-5
        img(src="assets/images/pages/tema-2/medidas-verticales.svg").img-fluid    

    .card
        .card-body
            p.mb-4 <strong>Talle frente:</strong> se coloca la cinta métrica desde la fosa supraclavicular (ángulo cuello-hombro) hasta la cintura. (Zona umbilical).

            p.mb-4 <strong>Centro frente:</strong> se coloca la cinta métrica desde el centro del puño o manubrio external (base del cuello) hasta la cintura centro frente (zona umbilical).

            p.mb-4 <strong>Talle atrás:</strong> se coloca la cinta métrica desde la fosa supraclavicular (ángulo cuello-hombro) hasta el inicio de las vértebras lumbares.

            p <strong>Centro atrás:</strong> se coloca la cinta métrica desde la séptima vértebra cervical siguiendo la línea media vertebral hasta el promontorio de inicio de las vértebras lumbares (cintura espalda). 

    .row.my-5
        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/jIblLy_vVjY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    strong Medidas verticales | 
                    | Consulte el siguiente video para reforzar estos conocimientos.


    .subtitulo-ecored
        h2 
            span.number B
            span Medidas horizontales (contornos)

    p Se toman definiendo el perímetro del cuerpo. Las que se relacionan con el diseño de patrones de la falda clásica, se observan en la figura, así: 

    p.text-center.my-5.pt-5
        img(src="assets/images/pages/tema-2/medidas-horizontales.svg").img-fluid  

    .card
        .card-body
            p.mb-4 <strong>Contorno de cintura:</strong> se coloca la cinta métrica ligeramente tensionada desde el promontorio de inicio de las vértebras lumbares, pasando por los puntos medios entre la costilla flotante inferior y la cresta ilíaca cerrándose el metro sobre cintura centro frente (zona umbilical).

            p.mb-4 <strong>Contorno de cadera:</strong> se coloca la cinta métrica horizontalmente ligeramente tensionada sobre las crestas iliacas pasando por la parte más sobresaliente de los glúteos.


    p Para verificar la forma de tomar estas medidas, se recomienda consultar el siguiente vídeo:

    .row.my-5
        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/izKkc3GPCy4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    strong Medidas horizontales | 
                    | Consulte el siguiente video para reforzar estos conocimientos.           


    .subtitulo-ecored
        h2 
            span.number C
            span Anchos y separaciones


    p Permiten realizar modificaciones a los patrones base haciendo las prendas más estéticas y ajustadas a la figura de los clientes objetivo.

    p.text-center.my-5.pt-5
        img(src="assets/images/pages/tema-2/anchos-separaciones.svg").img-fluid  

    .card
        .card-body
            p.mb-4 <strong>Altura de busto:</strong> se coloca la cinta métrica verticalmente desde la fosa supraclavicular (ángulo cuello-hombro) hasta el pezón. 
      

    p Para verificar la forma de tomar estas medidas, se recomienda consultar el siguiente vídeo:

    .row.my-5
        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/yZE-taSRt0Q', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    strong Anchos y separaciones | 
                    | Consulte el siguiente video para reforzar estos conocimientos. 


    .subtitulo-ecored
        h2 
            span.number C
            span Contornos y largos inferiores

    p Algunas de ellas, se relacionan con el diseño de patrones de la falda clásica, como se observa en la siguiente figura y permiten personalizar las prendas:
                    
    p.text-center.my-5.pt-5
        img(src="assets/images/pages/tema-2/contornos-largos.svg").img-fluid                      

    .card
        .card-body
            p.mb-4 <strong>Largo de pantalón o falda:</strong> se coloca la cinta métrica desde la línea lateral de cintura (reja costal) por la parte lateral exterior hasta el maléolo exterior o el largo deseado de la prenda.

            p.mb-4 <strong>Largo de tiro:</strong> con la persona sentada en una superficie plana se coloca la cinta métrica verticalmente desde la cintura hasta el borde de la superficie determinando la ubicación de la zona perineal.
      

    .row.my-5
        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/4nk35iX326Q', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    strong Contornos y largos inferiores | 
                    | Consulte el siguiente video para reforzar estos conocimientos. 