include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h2#tema-11 1.2 Señalización de patrones: convenciones 


    p <strong>Los símbolos que se emplean en la señalización de los patrones</strong> permiten entender fácilmente las gráficas de construcción, eliminando el uso de textos y otros indican de qué manera deben estar aplomados los patrones despiezados para el corte. <strong>Ver Figura</strong> 
 
    p.text-center.my-5.pt-5
        img(src="assets/images/pages/tema-1/patrones.svg").img-fluid


    section.card-border-bottom.mt-5.pt-5

        .card
            .card-body
                p.card-text.my-3 <strong>Se debe tener en cuenta</strong> al momento de separar las piezas de cada patrón, la siguiente información:


    .row.justify-content-center
        .col-12.col-md-8

            ul
                li Nombre de la prenda: Se asigna el nombre relacionado con el diseño.
                li Nombre de la pieza.
                li Talla.
                li Referencia.
                li Indicar cuantas veces se corta el patrón.
                li Nombre de patronista.
                li Enumerar el patrón.
                li Enumerar las piezas. 
                li Señalizar hilos de tela, piquetes, perforaciones, símbolos de doblez.

                        


