include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 
            span.number 3. 
            span Matemáticas básicas y operaciones básicas

    p Para lograr la exactitud en los patrones se requiere recordar las funciones básicas aplicadas a números enteros, fraccionarios y decimales. De igual forma, para lograr la aplicación de figuras geométricas y de medidas, se utilizan figuras irregulares geométricas y de longitud. 

    p Por otro lado, para el desarrollo de las tablas de medidas, se utilizan números fraccionarios y decimales. 


    section.card-border-bottom.mt-5
        .card
            .card-body

                p.mb-4 Para profundizar en este tema, es posible consultar la siguiente entrada del blog de Roberto Suarez sobre Matemática Básica Módulo Diseño y Modas. 

                p <a href="http://robertosuareztagle.blogspot.com/2010/04/modulo-diseno-y-modas.html" target="_blank"><i class="fa fa-link fa-1x" aria-hidden="true"></i> Ir a sitio web</a>
            



